@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0e0e0e;
  }
}

@font-face {
  font-family: "Myfont";
  src: url('../../public/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myanmarfont";
  src: url('../../public/fonts/NotoSerifMyanmar-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Myfont", "Myanmarfont", sans-serif;
}
